body{
	background: #ecf5ff;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #4f4f4f;
	
}
table {
	padding: 60px 0;
	margin-left:auto; 
    margin-right:auto;
    .name{
    	color: #ff44ff;
    }

}
h1{
	color: blue;
}